@font-face {
    font-family: 'JetBrains Mono';
    font-weight: normal;
    font-style: normal;
    src: local('JetBrainsMono-Regular.ttf'),local('JetBrainsMono-Regular.woff'),local('JetBrainsMono-Bold-7.ttf'),local('JetBrainsMono-Bold-Italic-8.ttf'),  /*新添加的*/
    url('JetBrainsMono-Regular.woff') format('woff'), url('JetBrainsMono-Regular.ttf') format('truetype'),
    url('JetBrainsMono-Bold-7.ttf') format('truetype'),url('JetBrainsMono-Bold-Italic-8.ttf') format('truetype'),
    url('JetBrainsMono-Regular.eot') format('embedded-opentype'), url('JetBrainsMono-Regular.woff2') format('woff2');
}

/* cyrillic-ext 西里尔字母-扩展 */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source-Sans-Pro-Light-2.otf'),
    url('Source-Sans-Pro-Light-2.otf') format('otf'),url('Source-Sans-Pro-LightIt-2.otf') format('otf'); /*新添加的*/
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic 西里尔字母 */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source-Sans-Pro-Light-2.otf'),
    url('Source-Sans-Pro-Light-2.otf') format('otf'),url('Source-Sans-Pro-LightIt-2.otf') format('otf'); /*新添加的*/
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext 希腊字母-扩展 */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source-Sans-Pro-Light-2.otf'),
    url('Source-Sans-Pro-Light-2.otf') format('otf'),url('Source-Sans-Pro-LightIt-2.otf') format('otf'); /*新添加的*/
    url('6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwmxduz8A.woff2') format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek 希腊字母 */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source-Sans-Pro-Light-2.otf'),
    url('Source-Sans-Pro-Light-2.otf') format('otf'),url('Source-Sans-Pro-LightIt-2.otf') format('otf'); /*新添加的*/
    unicode-range: U+0370-03FF;
}

/* vietnamese 越南语 */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source-Sans-Pro-Light-2.otf'),
    url('Source-Sans-Pro-Light-2.otf') format('otf'),url('Source-Sans-Pro-LightIt-2.otf') format('otf'); /*新添加的*/
    url('6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwmBduz8A.woff2') format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext 拉丁字母-扩展 */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source-Sans-Pro-Light-2.otf'),
    url('Source-Sans-Pro-Light-2.otf') format('otf'),url('Source-Sans-Pro-LightIt-2.otf') format('otf'); /*新添加的*/
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}

/* latin 拉丁字母 */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source-Sans-Pro-Light-2.otf'),
    url('Source-Sans-Pro-Light-2.otf') format('otf'),url('Source-Sans-Pro-LightIt-2.otf') format('otf'); /*新添加的*/
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source-Sans-Pro-Regular-2.otf'),
    url('Source-Sans-Pro-Regular-2.otf') format('otf');   /*新添加的*/
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source-Sans-Pro-Regular-2.otf'),
    url('Source-Sans-Pro-Regular-2.otf') format('otf');   /*新添加的*/
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source-Sans-Pro-Regular-2.otf'),
    url('Source-Sans-Pro-Regular-2.otf') format('otf');   /*新添加的*/
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source-Sans-Pro-Regular-2.otf'),
    url('Source-Sans-Pro-Regular-2.otf') format('otf');   /*新添加的*/
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source-Sans-Pro-Regular-2.otf'),
    url('Source-Sans-Pro-Regular-2.otf') format('otf');   /*新添加的*/
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source-Sans-Pro-Regular-2.otf'),
    url('Source-Sans-Pro-Regular-2.otf') format('otf');   /*新添加的*/
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source-Sans-Pro-Regular-2.otf'),
    url('Source-Sans-Pro-Regular-2.otf') format('otf');   /*新添加的*/
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source-Sans-Pro-Semibold-2.otf'), local('Source-Sans-Pro-Bold-2.otf'),
    url('Source-Sans-Pro-Semibold-2.otf') format('otf'),url('Source-Sans-Pro-Bold-2.otf') format('otf');   /*新添加的*/
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source-Sans-Pro-Semibold-2.otf'), local('Source-Sans-Pro-Bold-2.otf'),
    url('Source-Sans-Pro-Semibold-2.otf') format('otf'),url('Source-Sans-Pro-Bold-2.otf') format('otf');   /*新添加的*/
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source-Sans-Pro-Semibold-2.otf'), local('Source-Sans-Pro-Bold-2.otf'),
    url('Source-Sans-Pro-Semibold-2.otf') format('otf'),url('Source-Sans-Pro-Bold-2.otf') format('otf');   /*新添加的*/
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source-Sans-Pro-Semibold-2.otf'), local('Source-Sans-Pro-Bold-2.otf'),
    url('Source-Sans-Pro-Semibold-2.otf') format('otf'),url('Source-Sans-Pro-Bold-2.otf') format('otf');   /*新添加的*/
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source-Sans-Pro-Semibold-2.otf'), local('Source-Sans-Pro-Bold-2.otf'),
    url('Source-Sans-Pro-Semibold-2.otf') format('otf'),url('Source-Sans-Pro-Bold-2.otf') format('otf');   /*新添加的*/
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source-Sans-Pro-Semibold-2.otf'), local('Source-Sans-Pro-Bold-2.otf'),
    url('Source-Sans-Pro-Semibold-2.otf') format('otf'),url('Source-Sans-Pro-Bold-2.otf') format('otf');   /*新添加的*/
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source-Sans-Pro-Semibold-2.otf'), local('Source-Sans-Pro-Bold-2.otf'),
    url('Source-Sans-Pro-Semibold-2.otf') format('otf'),url('Source-Sans-Pro-Bold-2.otf') format('otf');   /*新添加的*/
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}